@font-face {
    font-family: "avenir-light";
    src: url(../font/Avenir\ Light.ttf);
    }
@font-face {
    font-family: "avenir-heavy";
    src: url(../font/Avenir\ Heavy.ttf);
    }

@media (min-width : 320px) and (max-width: 768px) {
    body {
    background: #FBEFEC; 
    }

    .Div-Bienvenida{
    display: flex;
    justify-content: center;

    }

    .Bienvenida{
    font-family: "avenir-heavy";
    line-height: 28px;
    color: #EC552F;
    position: absolute;
    top: 509px;
    }

    .Bienvenida p {
    font-family: "avenir-light";
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    position: absolute;
    }

    .Bienvenida h2 {
    font-size: 20px;
    margin-top: 36px;
    margin-right: 67px;
    }


    .Boton-IniciarSesion {
    position: absolute;
    top: 595px;
    border-radius: 4px;
    color: #ffff;
    font-family: "avenir-light";
    font-size: 14px;
    line-height: 20px;
    border: 0.7px solid  #215E99;
    }

    .Boton-Inic{
    color: #ffff;
    width: 327px;
    background: #215E99;
    height: 52px;
    border-radius: 4px;
    border: 0.7px solid #215E99; 
    border-left-color: #215E99;
    }

    .Boton-IniciarOtraCuenta {
    position: absolute;
    width: 327px;
    height: 52px;
    top: 661px;
    background-color: transparent;
    color: #EC552F ;
    border-radius: 4px;
    border: 0.7px solid #EC552F;
    font-weight: 600;
    font-family: "avenir-heavy";
    }

    .Div-Logo{
    display: flex;
    justify-content: center;

    }

    .Logo{
    position: absolute;
    width: 328.29px;
    height: 212.18px;
    top: 200.05px;
    }

    .Crear-Cuenta{
    position: absolute;
    width: 266px;
    height: 20px;
    top: 735px;
    font-family: "avenir-light";
    font-weight: 900;
    font-size: 14px;
    line-height: 7px;
    text-align: center;
    }

    .Crear-Cuenta p {
    color: #215E99;
    }

    .Crear-Cuenta a {
    color: #EC552F;
    text-decoration: none;
    }

    .Indicador{
    position: absolute;
    top: calc(100% - 5px/2 + 5.5px);

    }

    .Div-LogoDesktop, .LogoDesktop, .LogoDesktop2, .Boton-IniciarSesionDesktop, .Boton-InicDesktop {
    display: none;
    }
    .Formulario{
    display: none;
    }

    /* Modal */
    .modalOtraCuenta{
    display: none;
    top: 0;
    left: 0;
    background: rgba(0,0,0,0.5);
    opacity: 1;
    height: 100%;
    width: 100%;
    position: fixed;
    }

    .modal {
    background-color: white;
    width: 100%;
    top: 69%;
    color: white;
    position: relative;
    height: 300px;
    border-radius: 22px 22px 0px 0px;
    }

    .modal_Cerrar span {
    display: flex;
    position: relative;
    flex: auto
    }

    .modal_Cerrar p{
    display: flex;
    flex: auto;
    margin-top: 0px;
 }

    .TipoDeCuentas{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 14px;
    line-height: 20px;
    }

    .modal_Cerrar{
    display: flex;
    justify-content: center;
    padding: 20px;
    color: #215E99;
    font-family: "avenir-heavy";
    font-size: 18px;
    }

    .TipoDeCuentas a {
    text-decoration: none;
    padding: 8px;
    width: 213px;
    color: #215E99;
    text-align: center;
    margin: 5px;
    border: 0.7px solid #C7CAD9;
    box-sizing: border-box;
    border-radius: 4px;
    font-family: "avenir-light";
    font-weight: 500;
    }

}

@media (min-width : 769px) and (max-width: 2150px) {
    .Indicador, .Bienvenida, .Crear-Cuenta, .Botones-Inicio, .Div-Logo, .Logo, .modalOtraCuenta, .TipoDeCuentas,  .Boton-IniciarOtraCuenta, .Boton-InicDesktop{
    display: none;
    }

    body{
    margin: 0px;
    }

    /* Lado Izquierdo Pantalla */
    .Desktop {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr 1fr;
    }

    .Div-LogoDesktop{
    background-color: #FBEFEC;
    }

    .LogoDesktop{
    width: 198.11px; 
    position: relative;
    left: 64px;
    top: 77px;
    width: 208.11px;
    height: 83px;
    }

    .LogoDesktop2{
    position: absolute;
    left: 81.68%;
    right: 37.1%;
    width: 98.96px;
    height: 82.41px;
    transform: rotate(-9deg);
    }

    .Div-Contenido {
    position: absolute;
    }

    .Div-Contenido p {
    position: relative;
    left: 81px;
    width: 460px;
    top: 58px;
    font-family: "avenir-heavy";
    font-size: 36px;
    line-height: 120%;
    letter-spacing: 0.005em;
    color: #215E99;
    font-weight: bold;
    }

    /* Lado Derecho Pantalla */
    .Formulario{
    display: flex;
    position: relative;
    justify-content: center;
    margin-top: 34px;
    margin-left: 20px;
    }

    .BienvenidaDesktop p{
    font-family: "avenir-heavy";
    font-size: 24px;
    line-height: 32px;
    margin-left: -103px;
    color: #EC552F;
    margin-top: 132px;
    }

    .BienvenidaDesktop h2 {
    font-family: "avenir-light";
    font-size: 16px;
    color: #EC552F;
    margin-left: -101px;
    margin-top: -24px;
    line-height: 24px;
    font-weight: normal;
    }

    .IngresoDatos{
    position: absolute;
    top: 197px;
    height: 78px;
    }

    .IngresoDatos p{
    color: #215E99;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    font-family: "avenir-light";
    }

    .IngresoDatos2{
    position: absolute;
    width: 374px;
    height: 78px;
    top: 300px;
    font-size: 14px;
    }

    .IngresoDatos2 p{
    color: #215E99;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    font-style: normal;
    font-family: "avenir-light";
    }

    .Boton-IniciarSesionDesktop{
    position: absolute;
    left: 483px;
    top: 361px;
    color: white;
    }

    .BtnIniciarSesion{
    display: flex;
    justify-content: center;
    position: absolute;

    }
    .BtnIniciarSesion a{
    margin-top: 449px;
    }

    .Boton-Inic {
    color: #ffff;
    width: 374px;
    background: #215E99;
    height: 52px;
    border-radius: 4px;
    border: 0.7px solid #215E99;
    border-left-color: #215E99;
    font-family: "avenir-heavy";
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    }

    .OlvidarContraseña{
    position: absolute;
    top: 398px;
    font-size: 14px;
    font-family: "avenir-heavy";
    color: #215E99;
    font-weight: 500;
    line-height: 20px;
    text-align: right;
    }

    .OlvidarContraseña p {
    position: absolute;
    left: 13px;
    width: max-content;
    }

    .IngresoDatos input {
    width: 374px;
    height: 52px;
    font-family: "avenir-light";
    font-size: 14px;
    line-height: 20px;
    border: 0.7px solid #C7CAD9;
    box-sizing: border-box;
    border-radius: 4px
    }

    .IngresoDatos2  input {
    width: 374px;
    height: 52px;
    font-family: "avenir-light";
    font-size: 14px;
    line-height: 20px;
    border: 0.7px solid #C7CAD9;
    box-sizing: border-box;
    border-radius: 4px
    }


    .Crear-CuentaDesktop{
    position: absolute;
    height: 20px;
    top: 663px;
    font-family: "avenir-heavy";
    font-weight: 900;
    line-height: 7px;
    text-align: center;
    }

    .Crear-CuentaDesktop p {
    color: #215E99;
    }

    .Crear-CuentaDesktop a {
    color: #EC552F;
    text-decoration: none;
    }
    /* Incio Sesion con otras Cuentas */
    .IniciarOtraCuenta{
    color: #EC552F;
    font-weight: 600;
    position: absolute;
    height: 20px;
    top: 523px;
    font-family: "avenir-heavy";
    }

    .Apple {
    position: absolute;
    width: 49px;
    height: 48px;
    background: hsl(240deg 8% 93%);
    border-radius: 114px;
    }

    .Facebook {
    position: absolute;
    width: 49px;
    height: 48px;
    background: hsl(240deg 8% 93%);
    border-radius: 114px;
    margin-left: 67px;

    }
    .Google {
    position: absolute;
    width: 49px;
    height: 48px;
    background: hsl(240deg 8% 93%);
    border-radius: 114px;
    margin-left: 133px;
    }

    .Apple img {
    position: absolute;
    width: 24px;
    height: 24px;
    left: 11px;
    top: 11px;
    }

    .Facebook img{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 12px;
    top: 11px;
    }

    .Google img{
    position: absolute;
    width: 18px;
    height: 18px;
    left: 15px;
    top: 13px
    }


}









